body{
    background-image: url("../images/bodywallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background: #3D3D3D !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
}
nav a{
    color: #36D732 !important;
}
nav li{
    padding: 15px;
    margin: 0 !important;
    transition: 0.5s;
}
nav li:hover{
    background-color: #727272;
}

.container-fluid{
    background-image: url("../images/bodywallpaperD.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    top: 20px;
    max-width: 65vw;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    height: 600px;
}

.modal-header{
    background: #3D3D3D !important;
    
}
.modal-header h5{
    color: #36D732 !important;
}

#iconoR{
    transform: scale(2);
}
#botonR {
    background-color: #36D732 !important;
    color: black !important ;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    margin-left: 45%;
    transition: 0.2s;
    font-family: 'Noto Sans JP', sans-serif;
}
#botonR:hover{
    box-shadow: 0 0 10px white !important;
    transform: scale(1.1);
}
#botonG {
    background-color: #36D732 !important;
    color: black !important ;
    border: 1px solid #3D3D3D;
}
#botonG:hover{
    background-color: rgba(54, 215, 50, 0.7) !important;
}

table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
th, td{
    text-align: left;
    padding: 13px;
    border-bottom: solid 1px;
}
.botonE{
    border-bottom: 0;
    padding-left: 0;
}
#iconoE1, #iconoE2, #iconoE3, #iconoE4, #iconoE5{
    transform: scale(1.1) !important;
}
.botonE1{
    background-color: red;
    color: white;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    border: solid 1px;
    transition: 0.2s;
}
.botonE1:hover{
    box-shadow: 0 0 5px red;
    transform: scale(1.1);
}
.botonM{
    border-bottom: 0;
    padding-right: 0;
}
#botonM1{
    background-color: white !important;
    color: black !important;
    border: solid 1px;
    transition: 0.2s;
}
#botonM1:hover{
    box-shadow: 0 0 5px cyan;
    transform: scale(1.1);
}
#botonM2{
    background-color: white !important;
    color: black !important;
    border: solid 1px;
    transition: 0.2s;
}
#botonM2:hover{
    box-shadow: 0 0 5px cyan;
    transform: scale(1.1);
}
#botonM3{
    background-color: white !important;
    color: black !important;
    border: solid 1px;
    transition: 0.2s;
}
#botonM3:hover{
    box-shadow: 0 0 5px cyan;
    transform: scale(1.1);
}
#botonM4{
    background-color: white !important;
    color: black !important;
    border: solid 1px;
    transition: 0.2s;
}
#botonM4:hover{
    box-shadow: 0 0 5px cyan;
    transform: scale(1.1);
}
#botonM5{
    background-color: white !important;
    color: black !important;
    border: solid 1px;
    transition: 0.2s;
}
#botonM5:hover{
    box-shadow: 0 0 5px cyan;
    transform: scale(1.1);
}
#iconoM1, #iconoM2, #iconoM3, #iconoM4, #iconoM5{
    transform: scale(1.8) !important;
}
