body{
    background-image: url("../images/bodywallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background: #3D3D3D !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
}
nav a{
    color: #36D732 !important;
}
nav li{
    padding: 15px;
    margin: 0 !important;
    transition: 0.5s;
}
nav li:hover{
    background-color: #727272;
}

.container-fluid{
    background-image: url("../images/bodywallpaperD.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    top: 20px;
    max-width: 60vw;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    height: 500px;
}